body {
  background-color: whitesmoke;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.table thead {
  background-color: gray;
}

.table th {
  color: white;
  letter-spacing: 0.07em;
}

.table th,
.table td {
  border-left: 1px solid black;
  border-bottom: 1px solid #000;
  padding: 5px 10px;
}

.table .sort-down::after {
  content: '\2193';
  display: inline-block;
  position: absolute;
}

.table .sort-up::after {
  content: '\2191';
  display: inline-block;
  position: absolute;
}